In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
my_list=list(np.random.randint(0,50,10))

In [6]:
my_list

[17, 47, 31, 20, 25, 38, 26, 6, 42, 46]

In [7]:
my_array=np.array(my_list)

In [8]:
my_dict={'a':17,'b':47,'c':31,'d':20,'e':25,'f':38,'g':26,'h':6,'i':42,'j':46}

In [13]:
%matplotlib notebook
import matplotlib.pyplot as plt

In [14]:
plt.plot(my_array,my_array**2)

In [18]:
ser1=pd.Series(my_list)

In [16]:
labels=['a','b','c','d','e','f','g','h','i','j']

In [19]:
ser2=pd.Series(my_list,index=labels)

In [20]:
ser2=pd.Series(my_list,labels)

In [21]:
pd.Series([2,4,5,7],['s1','s2','s3','s4'])

s1    2
s2    4
s3    5
s4    7
dtype: int64

In [24]:
pd.Series([2,4,5,7],index=['s1','s2','s3','s4'])

s1    2
s2    4
s3    5
s4    7
dtype: int64

In [37]:
x=np.random.randn(5,4)
np.random.seed(101)
x

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [43]:
df=pd.DataFrame(x,index='A B C D E'.split(),columns='W X Y Z'.split())

In [42]:
'A b c b n'.split('b')

['A ', ' c ', ' n']

In [47]:
df[['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [48]:
df['new']=df['X']*2

In [57]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [52]:
df.drop('D', axis=0)# row

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  1.256265
B  0.651118 -0.319318 -0.848077  0.605965 -0.638636
C -2.018168  0.740122  0.528813 -0.589001  1.480244
E  0.190794  1.978757  2.605967  0.683509  3.957515

In [53]:
df.drop('new', axis=1)# column

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [58]:
df.drop('new',axis=1,inplace=True) #column dropped permanently

KeyError: "['new'] not found in axis"

In [55]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [61]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [64]:
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [66]:
df.loc[['A','B'],['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318

In [70]:
df[['A','B']]

KeyError: "None of [Index(['A', 'B'], dtype='object')] are in the [columns]"

In [71]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [73]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [81]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [85]:
df[df['W']>0][['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [122]:
df[(df['W']<1) & (df['X']>0)]

                 W         X         Y         Z
Students
45       -2.018168  0.740122  0.528813 -0.589001
89        0.190794  1.978757  2.605967  0.683509

In [89]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [93]:
df['Students']=[12,34,45,67,89]

In [96]:
df.set_index('Students',inplace=True)

In [97]:
df

                 W         X         Y         Z
Students
12        2.706850  0.628133  0.907969  0.503826
34        0.651118 -0.319318 -0.848077  0.605965
45       -2.018168  0.740122  0.528813 -0.589001
67        0.188695 -0.758872 -0.933237  0.955057
89        0.190794  1.978757  2.605967  0.683509

In [98]:
df.reset_index?

In [103]:
df1=pd.DataFrame({'A':[1,2,np.nan],
                 'B':[5,np.nan,np.nan],
                 'C':[1,2,3]})

In [104]:
df1

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [106]:
df1.dropna()

     A    B  C
0  1.0  5.0  1

In [107]:
df1

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [108]:
df1.dropna(inplace=True)

In [109]:
df1

     A    B  C
0  1.0  5.0  1

In [110]:
df2=pd.DataFrame({'A':[1,2,np.nan],
                 'B':[5,np.nan,np.nan],
                 'C':[1,2,3]})

In [111]:
df2.dropna(axis=1)

   C
0  1
1  2
2  3

In [112]:
df1

     A    B  C
0  1.0  5.0  1

In [113]:
df2

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [114]:
df2.fillna(value=10)

      A     B  C
0   1.0   5.0  1
1   2.0  10.0  2
2  10.0  10.0  3

In [115]:
df2

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [118]:
df2['A'].fillna(value=df2['A'].mean(),inplace=True)

In [119]:
df2

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  1.5  NaN  3

In [120]:
columns=['col1','col2','col3']
rows=[[1,2,3,4],[444,555,66,444],
     ['abc','def','hij','xyz']]

In [121]:
pd.DataFrame()

     0    1    2    3
0    1    2    3    4
1  444  555   66  444
2  abc  def  hij  xyz

In [123]:
df.unique
df.nunique
df.value_counts

AttributeError: 'DataFrame' object has no attribute 'unique'

In [124]:
x

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [133]:
def squ(x):
    return x**2
df['W'].apply(squ)

KeyError: 'W'

In [134]:
df.columns

Index(['X', 'Y', 'Z'], dtype='object')

In [129]:
del df['W']

In [128]:
df.index

Int64Index([12, 34, 45, 67, 89], dtype='int64', name='Students')

In [130]:
df

                 X         Y         Z
Students
12        0.628133  0.907969  0.503826
34       -0.319318 -0.848077  0.605965
45        0.740122  0.528813 -0.589001
67       -0.758872 -0.933237  0.955057
89        1.978757  2.605967  0.683509

In [139]:
pd.read_csv?